<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Angular Practice </title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body ng-app="myApp">

	<div ng-controller="Bands">
		<h3>Favorite Bands</h3>
		<ul>
			<li ng-repeat="band in bands">{{band}}</li>
		</ul>
	</div>

	<div ng-controller="Fruits">
		<div ng-repeat="food in fruits"> 
			<h4> Item: {{food.item}} Cost: ${{food.price}} </h4>
		</div>
		<h4> Total: ${{total}} </h4>
		<h4>Do I have enough cash? {{cash >= total}}! </h4>
	</div>

	<script src="app.js"></script>
</body>
</html>